<!DOCTYPE html>
<html>
    <head>
        <title>MongoDB POV</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Animate.css -->
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <!-- Animate on Scroll -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/175e0bfa97.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    </head>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top shadow mb-2">
        <a class="navbar-brand" href="/"><i class="fas fa-dna"></i> cyclone <strong>analytics</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/package">Packages</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link">Sign Up</a>
                </li>
                <% } else if (currentUser && currentUser.isAdmin) { %>
                <li class="nav-item">
                    <i class="far fa-id-badge nav-link id"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/users/<%=currentUser._id%>"><i class="far fa-id-card mr-2 cardinal-icon"></i>Profile</a>
                        <a class="dropdown-item" href="#"><i class="far fa-comment-alt mr-2 cardinal-icon"></i>Notifications</a>
                        <a class="dropdown-item" href="#"><i class="far fa-heart mr-2 cardinal-icon"></i>Favorites</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out: <%= currentUser.username %></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin Tools</a>
                </li>
                <% } else if (currentUser) { %>
                <li class="nav-item">
                    <i class="far fa-id-badge nav-link id"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/users/<%=currentUser._id%>"><i class="far fa-id-card mr-2 cardinal-icon"></i>Profile</a>
                        <a class="dropdown-item" href="#"><i class="far fa-comment-alt mr-2 cardinal-icon"></i>Notifications</a>
                        <a class="dropdown-item" href="#"><i class="far fa-heart mr-2 cardinal-icon"></i>Favorites</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out: <%= currentUser.username %></a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <body class="flex-fill" style="padding-top: 100px;">
    <%# can be empty so must ensure it's > 0 %>
    <% if(error && error.length > 0){ %>
    <div class="container mb-2">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="container mb-2">
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    </div>
    <% } %>


<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 mx-auto form p-4">
            <div class="py-5 text-center">
                <i class="fa-brands fa-ups fa-4x mb-3"></i>
                <h1 class="mb-3 font-weight-normal">Add New Package</strong></h1>
            </div>
            <div class="px-2 mb-4">
                <form action="/package" method="POST" class="justify-content-center">
                    <div class="form-group mb-3">
                        <label for="playerName">Tracking Number</label>
                        <input class="form-control" type="text" id="packageID" name="id" placeholder="1Z123456789">
                    </div>
                    <div class="form-group mb-3">
                        <label for="firstName">RFID</label>
                        <input class="form-control" type="text" id="packageRFID" name="rfid" placeholder="0987654321">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerPosition">Status</label>
                        <input class="form-control" type="text" id="packageStatus" name="status" placeholder="OutOnDelivery">
                    </div>
                    <div class="form-group mb-3">
                        <label for="playerPosition">Live Status</label>
                        <input class="form-control" type="text" id="packageLive" name="live" placeholder="10 Stops Away">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        <div class="form-signin">
                            <a href="/package">Go Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% if (currentUser && currentUser.isAdmin) { %>
    <div class="container mb-2">
        <div class="alert alert-danger">
            Admin View
        </div>
    </div>
    <% } %>
    <footer class="container-fluid text-center py-5 mt-auto footer" id="footer">
            <div class="row mx-auto footer-row">
                <div class="col-12 col-md">
                    <i class="fas fa-dna footer-dna fa-2x mb-3"></i>
                    <h6>A better way to analyze.</h6>
                    <ul class="list-unstyled list-inline text-small footer-icon">
                        <li class="list-inline-item"><a href="https://github.com/tylersul/express-cyclone-analytics-web-app" target="_tab"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/CycloneMBB" target="_tab"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/cyclonembb/?hl=en" target="_tab"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="#">Random feature</a></li>
                        <li><a href="#">Team feature</a></li>
                        <li><a href="#">Stuff for developers</a></li>
                        <li><a href="#">Another one</a></li>
                        <li><a href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="/newsletter">Sign Up For Email</a></li>
                        <li><a href="#">Resource name</a></li>
                        <li><a href="#">Another resource</a></li>
                        <li><a href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="/about">Team</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
    </footer>
</wrapper>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Typed.js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <!-- CountUp -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.2/countUp.min.js'></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>

