<!DOCTYPE html>
<html>
    <head>
        <title>Cyclone Analytics</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <!-- Animate.css -->
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <script src="https://kit.fontawesome.com/175e0bfa97.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    </head>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top mb-2">
        <a class="navbar-brand" href="/"><i class="fas fa-dna"></i> cyclone <strong>analytics</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/seasons">Seasons</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link">Sign Up</a>
                </li>
                <% } else if (currentUser && currentUser.isAdmin) { %>
                <li class="nav-item">
                    <i class="far fa-id-badge nav-link id"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/users/<%=currentUser._id%>"><i class="far fa-id-card mr-2 cardinal-icon"></i>Profile</a>
                        <a class="dropdown-item" href="#"><i class="far fa-comment-alt mr-2 cardinal-icon"></i>Notifications</a>
                        <a class="dropdown-item" href="#"><i class="far fa-heart mr-2 cardinal-icon"></i>Favorites</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out: <%= currentUser.username %></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin Tools</a>
                </li>
                <% } else if (currentUser) { %>
                <li class="nav-item">
                    <i class="far fa-id-badge nav-link id"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/users/<%=currentUser._id%>"><i class="far fa-id-card mr-2 cardinal-icon"></i>Profile</a>
                        <a class="dropdown-item" href="#"><i class="far fa-comment-alt mr-2 cardinal-icon"></i>Notifications</a>
                        <a class="dropdown-item" href="#"><i class="far fa-heart mr-2 cardinal-icon"></i>Favorites</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out: <%= currentUser.username %></a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <body style="padding-top: 100px;">
    <%# can be empty so must ensure it's > 0 %>
    <% if(error && error.length > 0){ %>
    <div class="container mb-2">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="container mb-2">
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    </div>
    <% } %>