<!DOCTYPE html>
<html>
    <head>
        <title>MongoDB POV</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <!-- Animate.css -->
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <script src="https://kit.fontawesome.com/175e0bfa97.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    </head>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top mb-2">
        <a class="navbar-brand" href="/"><i class="fas fa-dna"></i> <strong>mongodb pov</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/package">Flexible</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link">Sign Up</a>
                </li>
                <% } else if (currentUser && currentUser.isAdmin) { %>
                <li class="nav-item">
                    <i class="far fa-id-badge nav-link id"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/users/<%=currentUser._id%>"><i class="far fa-id-card mr-2 cardinal-icon"></i>Profile</a>
                        <a class="dropdown-item" href="#"><i class="far fa-comment-alt mr-2 cardinal-icon"></i>Notifications</a>
                        <a class="dropdown-item" href="#"><i class="far fa-heart mr-2 cardinal-icon"></i>Favorites</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out: <%= currentUser.username %></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin Tools</a>
                </li>
                <% } else if (currentUser) { %>
                <li class="nav-item">
                    <i class="far fa-id-badge nav-link id"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/users/<%=currentUser._id%>"><i class="far fa-id-card mr-2 cardinal-icon"></i>Profile</a>
                        <a class="dropdown-item" href="#"><i class="far fa-comment-alt mr-2 cardinal-icon"></i>Notifications</a>
                        <a class="dropdown-item" href="#"><i class="far fa-heart mr-2 cardinal-icon"></i>Favorites</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out: <%= currentUser.username %></a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <body style="padding-top: 100px;">
    <%# can be empty so must ensure it's > 0 %>
    <% if(error && error.length > 0){ %>
    <div class="container mb-2">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="container mb-2">
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    </div>
    <% } %>

<div class="bg-white">
    <div class="container">
        <div class="row align-items-center fade-in my-3 py-5">
            <div class="col-12 col-lg-7">
                <h1 class="display-5">Welcome to <span class="mongo-text">MongoDB POVs.</span></h1>
                <p class="lead text-muted"> <span class="typing"></span></p>
                <a href="/package" class="btn btn-lg btn-cyclone shadow grow mr-2 mb-4">View All POVs<i class="fas fa-arrow-right ml-2"></i></a>
                <a href="https://github.com/10gen/pov-proof-exercises" class="btn btn-lg btn-cyclone-outline shadow grow mb-4">About<i class="fas fa-arrow-right ml-2"></i></a>
            </div>
            <div class="col-12 col-lg-5 my-2 px-2">
                <img src="../images/leaf.png" id="analyticsImg" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center my-5 animate__animated animate__slideInRight">
            <div class="col-12 col-lg-4 my-2">
                <i class="fas fa-code fa-3x mb-2"></i>
                <h3 class="mt-2">Built for Developers</h3>
                <p class="text-muted">End the religion of relational databases.</p>
            </div>
            <div class="col-12 col-lg-4 order-lg-1 my-2">
                <i class="fas fa-chart-area fa-3x mb-2"></i>
                <h3 class="mt-2">Flexibility Focused</h3>
                <p class="text-muted">Feature rich database with agility in mind.</p>
            </div>
            <div class="col-12 col-lg-4 order-lg-1 my-2">
                <i class="fas fa-code-branch fa-3x mb-2"></i>
                <h3 class="mt-2">Designed to be modern</h3>
                <p class="text-muted">Leading to the future standard of databases.</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="bg-gray py-2">
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7 mb-4 text-center">
                <h2 class="font-weight-bold">Work Smart. Win Big.</h2>
                <p class="text-muted mb-4">No matter who you're looking for, or what you're looking to see, Cyclone Analytics can help.</p>
            </div>
        </div>
        <div class="row animate__animated animate__fadeInUp">
            <div class="col-12 col-lg-6">
                <div class="card shadow-sm mb-4">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <i class="fas fa-user-friends fa-5x m-5 cardinal-icon"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body py-5 text-center">
                                <h4 class="font-weight-bold">Passionate team.</h1>
                                <p class="text-muted">Combining a love of basketball with a background in tech to create a valuable resource for the Cyclones.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card shadow-sm mb-4">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <i class="fas fa-users fa-5x m-5 cardinal-icon"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body py-5 text-center">
                                <h4 class="font-weight-bold">Growing community.</h1>
                                <p class="text-muted">The Cyclone Analytics team is focused on fostering a community of fans, coaches, and players looking to dive deep.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animate__animated animate__fadeInUp">
            <div class="col-12 col-lg-12">
                <div class="card shadow-sm">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <i class="fas fa-tachometer-alt fa-5x m-5 cardinal-icon"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body py-5 text-left">
                                <h4 class="font-weight-bold">Growing application.</h1>
                                <p class="text-muted">With new features and enhancements being added daily, the user experience and power of the application is constantly
                                    growing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white py-1">
    <div class="container py-5 my-5" data-aos="fade-up">
        <div class="row mb-5 pb-5">
            <div class="col-12 col-md-6 animate__animated animate__fadeInLeft">
                <span class="badge badge-pill badge-success mb-3">
                    <span class="text-uppercase">Support</span>
                </span>
                <h2>A detailed look at the past<br> <span class="cyclone-text">with an eye on the future.</span></h2>
                <p class="text-muted mb-4">We aim to be a tool for the Cyclone community, both internally and externally.</p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="d-flex">
                            <i class="fas fa-check-circle cardinal-icon mr-4 mt-1"></i>
                            <p class="cyclone-text">Fast</p>
                        </div>
                        <div class="d-flex">
                            <i class="fas fa-check-circle cardinal-icon mr-4 mt-1"></i>
                            <p class="cyclone-text">Customizable</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="d-flex">
                            <i class="fas fa-check-circle cardinal-icon mr-4 mt-1"></i>
                            <p class="cyclone-text">Feature rich</p>
                        </div>
                        <div class="d-flex">
                            <i class="fas fa-check-circle cardinal-icon mr-4 mt-1"></i>
                            <p class="cyclone-text">Scalable</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 animate__animated animate__fadeInRight">
                <div class="row">
                    <div class="col-6 mt-5 pr-1">
                        <img class="img-fluid rounded shadow-sm mb-2" src="../images/team.png">
                        <img class="img-fluid rounded shadow-sm mb-2" src="../images/ball.png">
                    </div>
                    <div class="col-6 pl-1">
                        <img class="img-fluid rounded shadow-sm mb-2" src="../images/hali1.png">
                        <img class="img-fluid rounded shadow-sm mb-2" src="../images/big12.png">
                    </div>
                </div> 

            </div> 
        </div> 
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <h1 class="display-2 font-weight-bold"><span id="playerCounter"></span></h1>
                <p class="text-muted mb-6 mb-md-0">Our Player database. More added every day.</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h1 class="display-2 font-weight-bold"><span id="seasonCounter"></span></h1>
                <p class="text-muted mb-6 mb-md-0">Entire seasons.  Growing by the year.</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h1 class="display-2 font-weight-bold"><span id="userCounter"></span></h1>
                <p class="text-muted mb-6 mb-md-0">Total users.  Join the movement.</p>
            </div>
        </div>
    </div>
</div> -->

<% if (currentUser && currentUser.isAdmin) { %>
    <div class="container mb-2">
        <div class="alert alert-danger">
            Admin View
        </div>
    </div>
    <% } %>
    <footer class="container-fluid text-center py-5 mt-auto footer" id="footer">
            <div class="row mx-auto footer-row">
                <div class="col-12 col-md">
                    <i class="fas fa-dna footer-dna fa-2x mb-3"></i>
                    <h6>A better way to analyze.</h6>
                    <ul class="list-unstyled list-inline text-small footer-icon">
                        <li class="list-inline-item"><a href="https://github.com/tylersul/express-cyclone-analytics-web-app" target="_tab"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/CycloneMBB" target="_tab"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/cyclonembb/?hl=en" target="_tab"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="#">Random feature</a></li>
                        <li><a href="#">Team feature</a></li>
                        <li><a href="#">Stuff for developers</a></li>
                        <li><a href="#">Another one</a></li>
                        <li><a href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="/newsletter">Sign Up For Email</a></li>
                        <li><a href="#">Resource name</a></li>
                        <li><a href="#">Another resource</a></li>
                        <li><a href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="/about">Team</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
    </footer>
</wrapper>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Typed.js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <!-- CountUp -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.2/countUp.min.js'></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>

<script>
    var typed = new Typed('.typing', {
        strings: ['Flexibility', 'Velocity', 'Availability', 'Resiliency'],
        smartBackspace: true, // Default value
        typeSpeed: 70,
        backSpeed: 70,
        startDelay: 100,
        backDelay: 500,
        loop: false,
        onComplete: function(self) { self.cursor.remove() }
    });

    // CountUp JS
    let playerCount = new CountUp('playerCounter', 0, 25, 0, 2.5);
        if (!playerCount.error) {
            playerCount.start();
        } else {
            console.error(playerCount.error);
        }
    
    let seasonCount = new CountUp('seasonCounter', 0, 5, 0, 2.5);
        if (!seasonCount.error) {
            seasonCount.start();
        } else {
            console.error(seasonCount.error);
        }
    let userCount = new CountUp('userCounter', 0, 10, 0, 2.5);
        if (!userCount.error) {
            userCount.start();
        } else {
            console.error(userCount.error);
        }
    
    // Animate on scroll
    AOS.init();

</script>